<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">
        
        <context:annotation-config></context:annotation-config>
        
        <context:component-scan base-package="com.app"></context:component-scan>   
        
               	<!-- Opening a connection with messaging broker -->
          <bean id="connectionFactoryObj" class="org.apache.activemq.ActiveMQConnectionFactory">
	          <property name="brokerURL" value="tcp://localhost:61616">
	          </property>
          </bean>
          
            <!--  Through which queue I am establishing the communication -->
          <bean id="destinationObj" class="org.apache.activemq.command.ActiveMQQueue">
             <constructor-arg value="first_jms" />
          </bean>
          
           <!--  Spring has a JMSTemplate through which we can post some data from a java application on to the messaging broker    -->
          <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
	          <property name="connectionFactory" ref="connectionFactoryObj"></property>
	          <property name="defaultDestination" ref="destinationObj"></property>
          </bean>   
           
</beans>